body {
    justify-content: center;
    background-color: violet;
}

.grid-container {
    display: grid;
    grid-template-columns: none;
}
.grid-container > div {
    transition: 20s;
}
.grid-container > div:hover {
    background-color: orange;
    transition: .05s;
}

.square {
    background-color: white;
    width: 5px;
    height: 5px;
}