body {
    justify-content: center;
    background-color: violet;
    margin: 0 100px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}
.grid-container > div {
    transition: 3s;
}
.grid-container > div:hover {
    background-color: orange;
    transition: .3s;
}

.square {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 3px;
}